
body{
    background-color: rgba(253, 134, 170, 0.877);
}

nav{
    background-color: rgb(86, 0, 167);
}

#presentacion{
    height: 86vh;
/*
    display: flex;
    justify-content: start;
    align-items: center;
*/
}