
body{
    background-color: rgba(235, 148, 250, 0.877);
}

nav{
    background-color: rgb(86, 0, 167);
}
footer{
    background-color: rgb(86, 0, 167);
}


#presentacion{
    min-height: 88vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url('assets/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-1 {
    background-image: url('Google.png');
}

#proyecto-2 {
    background-image: url('Pagina.png');
}
.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, 1);
}

.pixelify-sans-uniquifier {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}